body {
  max-width: 90%;
  margin: 0 auto;
}
.slide-title {
  background: #f0f0f0;
  background: #f0f0f0 linear-gradient(#f0f0f0, #dddddd);
  padding: 10px;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0px 0px;
  box-shadow: inset rgba(255,255,255,0.2) 0 1px 0;
  color: rgb(102, 102, 102);
  text-shadow: #000 0 1px 0;
  font-size: 2em;
}
.slide {
  display: block;
  width: auto;
  height: 600px;
  overflow: hidden;
  padding: 40px 60px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  border-width: 1px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
}
.progress-bar {
  height: auto;
  padding: 0;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  .progress-outer {
    width: auto;
    height: 6px;
    padding: 1px;
    background: #666666;
    background: #666666 linear-gradient(#666666,#000000);
    box-shadow: #000000 0 1px 0, #666666 0 -1px 0;
    .progress-inner {
      height: 6px;
      width: 10px;
      min-width: 10px;
      border-radius: 3px;
      background: #33af33;
      background: #33af33 linear-gradient(#88b038, #33af33);
    }
  }
}
.control {
  height: 47px;
  background: #f0f0f0;
  background: #f0f0f0 linear-gradient(#f0f0f0, #dddddd);
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #666666;
  font-size: 25px;
  text-shadow: #000 0 1px 0;
  .control-action {
    height: 35px;
    width: 35px;
    padding: 0px;
    margin: 6px;
    cursor: pointer;
  }
  .page-info {
    float: right;
    height: 35px;
    margin: 6px;
    padding: 0px 10px 0px 10px;
  }
}
.full-screen {
  width: 100%;
  height: 100%;
  .slide-title {
    width: auto;
  }
  .slide {
    width: auto;
    height: 100%;
  }
  .progress-bar {
    position: fixed;
    z-index: 100;
    bottom: 47px;
    left: 0;
    right: 0; 
  }
  .control {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0; 
  }
}
body {
  background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}