!!!
%html
  %head
    %title slide js
    %meta(charset='utf-8')
    %link(href="../stylesheets/slide-js.css" rel="stylesheet")
    %script(src="../javascripts/slide-js.js")
  %body
    %h1 幻灯片Demo
    #content
      %h1 第一页
      %p 第一页第一段内容
      %p 第一页第二段内容
      %p 第一页第三段内容
      %hr
      %h1 第二页
      %p 第二页第一段内容
      %p 第二页第二段内容
      %p 第二页第三段内容
      %hr
      %h1 第三页
      %p 第三页第一段内容
      %p 第三页第二段内容
      %p 第三页第三段内容
    %h1 使用上下左右箭头和空格控制