/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Ostrish Sans Bold";
  src: url('/stylesheets/fonts/ostrich-bold.ttf') format('truetype');
}

@font-face {
  font-family: "Inconsolata";
  src: url('/stylesheets/fonts/Inconsolata.otf') format('opentype');
}

/* line 12, ../scss/screen.scss */
.console {
  min-width: 350px;
  margin: 20px;
}
/* line 15, ../scss/screen.scss */
.console .console-head {
  border: 1px solid #6287a4;
  border-bottom: 0px;
  padding: 0px 4px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efedee), color-stop(100%, #c1c1c1));
  background-image: -webkit-linear-gradient(top, #efedee, #c1c1c1);
  background-image: -moz-linear-gradient(top, #efedee, #c1c1c1);
  background-image: -o-linear-gradient(top, #efedee, #c1c1c1);
  background-image: linear-gradient(top, #efedee, #c1c1c1);
}
/* line 21, ../scss/screen.scss */
.console .console-head div, .console .console-head img {
  display: inline-block;
  position: relative;
  margin: 4px;
}
/* line 23, ../scss/screen.scss */
.console .console-head .console-buttom-red {
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: 1px solid #6287a4;
  -webkit-box-shadow: #330000 1px 2px 3px;
  -moz-box-shadow: #330000 1px 2px 3px;
  box-shadow: #330000 1px 2px 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, rgba(255, 0, 0, 0.1)), color-stop(100%, rgba(255, 0, 0, 0.9)));
  background-image: -webkit-radial-gradient(center, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.9));
  background-image: -moz-radial-gradient(center, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.9));
  background-image: -o-radial-gradient(center, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.9));
  background-image: radial-gradient(center, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.9));
}
/* line 31, ../scss/screen.scss */
.console .console-head .console-buttom-red:active {
  top: 4px;
}
/* line 23, ../scss/screen.scss */
.console .console-head .console-buttom-yellow {
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: 1px solid #6287a4;
  -webkit-box-shadow: #333300 1px 2px 3px;
  -moz-box-shadow: #333300 1px 2px 3px;
  box-shadow: #333300 1px 2px 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, rgba(255, 255, 0, 0.1)), color-stop(100%, rgba(255, 255, 0, 0.9)));
  background-image: -webkit-radial-gradient(center, rgba(255, 255, 0, 0.1), rgba(255, 255, 0, 0.9));
  background-image: -moz-radial-gradient(center, rgba(255, 255, 0, 0.1), rgba(255, 255, 0, 0.9));
  background-image: -o-radial-gradient(center, rgba(255, 255, 0, 0.1), rgba(255, 255, 0, 0.9));
  background-image: radial-gradient(center, rgba(255, 255, 0, 0.1), rgba(255, 255, 0, 0.9));
}
/* line 31, ../scss/screen.scss */
.console .console-head .console-buttom-yellow:active {
  top: 4px;
}
/* line 23, ../scss/screen.scss */
.console .console-head .console-buttom-green {
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: 1px solid #6287a4;
  -webkit-box-shadow: black 1px 2px 3px;
  -moz-box-shadow: black 1px 2px 3px;
  box-shadow: black 1px 2px 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, rgba(0, 128, 0, 0.1)), color-stop(100%, rgba(0, 128, 0, 0.9)));
  background-image: -webkit-radial-gradient(center, rgba(0, 128, 0, 0.1), rgba(0, 128, 0, 0.9));
  background-image: -moz-radial-gradient(center, rgba(0, 128, 0, 0.1), rgba(0, 128, 0, 0.9));
  background-image: -o-radial-gradient(center, rgba(0, 128, 0, 0.1), rgba(0, 128, 0, 0.9));
  background-image: radial-gradient(center, rgba(0, 128, 0, 0.1), rgba(0, 128, 0, 0.9));
}
/* line 31, ../scss/screen.scss */
.console .console-head .console-buttom-green:active {
  top: 4px;
}
/* line 34, ../scss/screen.scss */
.console .console-head .console-title {
  font-family: "Ostrish Sans Bold";
  text-shadow: 0px 1px 0px white;
}
/* line 39, ../scss/screen.scss */
.console .console-body {
  background-color: #434343;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 6px;
  height: 400px;
  overflow-y: scroll;
}
/* line 44, ../scss/screen.scss */
.console .console-body div, .console .console-body input {
  color: white;
  font-family: "Inconsolata";
  font-size: large;
  margin: 10px;
  outline: 0px;
  border: 0px;
  padding: 0px;
  background-color: #434343;
}
/* line 54, ../scss/screen.scss */
.console .console-body .console-command:before {
  content: "> ";
}
/* line 57, ../scss/screen.scss */
.console .console-body .console-sucess {
  color: green;
  padding: 0px 10px;
}
/* line 61, ../scss/screen.scss */
.console .console-body .console-warn {
  color: red;
  padding: 0px 10px;
}
/* line 65, ../scss/screen.scss */
.console .console-body::-webkit-scrollbar {
  width: 15px;
  background-color: #434343;
}
/* line 69, ../scss/screen.scss */
.console .console-body::-webkit-scrollbar-thumb {
  border: 5px solid #434343;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #efedee), color-stop(100%, #c1c1c1));
  background-image: -webkit-linear-gradient(left, #efedee, #c1c1c1);
  background-image: -moz-linear-gradient(left, #efedee, #c1c1c1);
  background-image: -o-linear-gradient(left, #efedee, #c1c1c1);
  background-image: linear-gradient(left, #efedee, #c1c1c1);
}
/* line 74, ../scss/screen.scss */
.console .console-body .console-prompt, .console .console-body .console-input {
  display: inline;
}
