/* line 1, ../scss/slide-js.scss */
body {
  max-width: 90%;
  margin: 0 auto;
  background: radial-gradient(#f0f0f0, #bebebe);
}

/* line 6, ../scss/slide-js.scss */
.sj-show {
  display: block;
  width: auto;
  height: 600px;
  overflow: hidden;
  padding: 40px 60px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
}

/* line 20, ../scss/slide-js.scss */
.sj-control {
  display: block;
  width: auto;
  height: 30px;
  overflow: hidden;
  background-color: white;
  border-width: 0px 1px 0 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
}
/* line 29, ../scss/slide-js.scss */
.sj-control .sj-previous-page, .sj-control .sj-previous-fragment, .sj-control .sj-next-fragmet, .sj-control .sj-next-page, .sj-control .sj-full-screen-button {
  cursor: pointer;
  float: left;
  margin: 6px;
}
/* line 34, ../scss/slide-js.scss */
.sj-control .sj-page-info {
  float: right;
  padding: 0px 10px 0px 10px;
}

/* line 39, ../scss/slide-js.scss */
.sj-progress-bar {
  height: auto;
  padding: 0;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
}
/* line 45, ../scss/slide-js.scss */
.sj-progress-bar .sj-progress-outer {
  width: auto;
  height: 6px;
  padding: 1px;
  background: #666666;
  background: #666666 linear-gradient(#666666, #000000);
  box-shadow: #000000 0 1px 0, #666666 0 -1px 0;
}
/* line 52, ../scss/slide-js.scss */
.sj-progress-bar .sj-progress-outer .sj-progress-inner {
  height: 6px;
  width: 10px;
  min-width: 10px;
  border-radius: 3px;
  background: #33af33;
  background: #33af33 linear-gradient(#88b038, #33af33);
}

/* line 62, ../scss/slide-js.scss */
.sj-full-screen {
  width: 100%;
  height: 100%;
}
/* line 65, ../scss/slide-js.scss */
.sj-full-screen .sj-show {
  width: auto;
  height: 100%;
}
/* line 69, ../scss/slide-js.scss */
.sj-full-screen .sj-progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 75, ../scss/slide-js.scss */
.sj-full-screen .sj-control {
  position: absolute;
  width: 100%;
  bottom: 10px;
  z-index: 100;
}
