/* line 5, ../scss/slide-js.scss */
.sj .sj-show {
  width: auto;
  overflow: hidden;
  background-color: white;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #b83000;
  padding-bottom: 60px;
}
/* line 13, ../scss/slide-js.scss */
.sj .sj-show .sj-page {
  margin: 40px;
}
/* line 17, ../scss/slide-js.scss */
.sj .sj-control {
  width: auto;
  height: 30px;
  background-color: white;
  border-width: 0px 1px 0 1px;
  border-style: solid;
  border-color: #b83000;
}
/* line 24, ../scss/slide-js.scss */
.sj .sj-control .sj-previous-page-button, .sj .sj-control .sj-previous-fragment-button, .sj .sj-control .sj-next-fragmet-button, .sj .sj-control .sj-next-page-button {
  display: block;
  cursor: pointer;
  width: 0;
  height: 0;
  position: relative;
}
/* line 31, ../scss/slide-js.scss */
.sj .sj-control .sj-previous-fragment-button {
  bottom: 60px;
  border-right: 30px solid #b83000;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
/* line 34, ../scss/slide-js.scss */
.sj .sj-control .sj-previous-fragment-button:hover, .sj .sj-control .sj-previous-fragment-button:focus, .sj .sj-control .sj-previous-fragment-button:active {
  border-right: 30px solid #3c8dde;
}
/* line 40, ../scss/slide-js.scss */
.sj .sj-control .sj-previous-page-button {
  bottom: 60px;
  left: 30px;
  border-bottom: 30px solid #b83000;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
/* line 44, ../scss/slide-js.scss */
.sj .sj-control .sj-previous-page-button:hover, .sj .sj-control .sj-previous-page-button:focus, .sj .sj-control .sj-previous-page-button:active {
  border-bottom: 30px solid #3c8dde;
}
/* line 50, ../scss/slide-js.scss */
.sj .sj-control .sj-next-page-button {
  bottom: 90px;
  left: 30px;
  border-top: 30px solid #b83000;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
/* line 54, ../scss/slide-js.scss */
.sj .sj-control .sj-next-page-button:hover, .sj .sj-control .sj-next-page-button:focus, .sj .sj-control .sj-next-page-button:active {
  border-top: 30px solid #3c8dde;
}
/* line 60, ../scss/slide-js.scss */
.sj .sj-control .sj-next-fragmet-button {
  bottom: 90px;
  left: 60px;
  border-left: 30px solid #b83000;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
/* line 64, ../scss/slide-js.scss */
.sj .sj-control .sj-next-fragmet-button:hover, .sj .sj-control .sj-next-fragmet-button:focus, .sj .sj-control .sj-next-fragmet-button:active {
  border-left: 30px solid #3c8dde;
}
/* line 70, ../scss/slide-js.scss */
.sj .sj-control .sj-full-screen-button {
  display: block;
  cursor: pointer;
  position: relative;
  bottom: 150px;
  left: 30px;
  background-color: #b83000;
  width: 30px;
  height: 30px;
}
/* line 77, ../scss/slide-js.scss */
.sj .sj-control .sj-full-screen-button:hover, .sj .sj-control .sj-full-screen-button:focus, .sj .sj-control .sj-full-screen-button:active {
  background-color: #3c8dde;
}
/* line 83, ../scss/slide-js.scss */
.sj .sj-control .sj-page-info {
  color: white;
  background-color: #b83000;
  float: right;
  padding: 0px 10px 0px 10px;
}
/* line 90, ../scss/slide-js.scss */
.sj .sj-progress-bar {
  height: auto;
  padding: 0;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #b83000;
  background-color: white;
}
/* line 97, ../scss/slide-js.scss */
.sj .sj-progress-bar .sj-progress-inner {
  height: 10px;
  min-width: 10px;
  background: #b83000;
}

/* line 104, ../scss/slide-js.scss */
.sj-button-disable {
  opacity: 0.3;
}

/* line 107, ../scss/slide-js.scss */
.sj-full-screen {
  width: 100%;
  height: 100%;
}
/* line 110, ../scss/slide-js.scss */
.sj-full-screen .sj-show {
  padding: 40px 8px 8px 8px;
  width: 100%;
  height: 100% !important;
}
/* line 116, ../scss/slide-js.scss */
.sj-full-screen .sj-control .sj-previous-page-button, .sj-full-screen .sj-control .sj-previous-fragment-button, .sj-full-screen .sj-control .sj-next-fragmet-button, .sj-full-screen .sj-control .sj-next-page-button, .sj-full-screen .sj-control .sj-full-screen-button {
  display: none;
}
/* line 119, ../scss/slide-js.scss */
.sj-full-screen .sj-control .sj-page-info {
  position: absolute;
  top: 20px;
  right: 0px;
}
/* line 125, ../scss/slide-js.scss */
.sj-full-screen .sj-progress-bar {
  position: absolute;
  top: 0px;
  width: 100%;
}
